<!-- Layout for pages before login -->
<div *ngIf="layoutLoaded == layout_constant.layout_header_footer">
    <app-header></app-header>
    <div class="container-fluid text-center">
        <div class="row content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <app-footer></app-footer>
    </footer>
    <!-- <div *ngIf="dataAvailable; else loadSpinner">
        
    </div>
    <ng-template #loadSpinner>
        <app-loading-spinner></app-loading-spinner>
    </ng-template> -->
</div>

<!-- Layout for pages after login -->
<div *ngIf="layoutLoaded == layout_constant.layout_header_navigationLeft_footer">
    <app-header></app-header>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <app-navigation-left></app-navigation-left>
            </div>
            <div class="col-sm-10">
                LAYOUT2 LOADED
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <app-footer></app-footer>
    </footer>
</div>