<nav class="navbar navbar-dark navbar-expand-sm bg-dark ">
    <a class="navbar-brand col-md-4"  href="http://google.com" style="background-color: pink;">My Site</a>
    <form class="form-inline col-md-3" role="search" style="background-color: yellow;">
        <input type="text" name="search-navbar" id="input1" placeholdder="Search" class="form-control col-md-6">
    </form>
    <!-- <form class="form-inline" role="search">
        <input type="text" name="search-navbar" id="input1" placeholdder="Search" class="form-control w-100">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form> -->
    <!-- <button type="button" class="navbar-toggler" (click)="navBarCollapsed = !navBarCollapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="col-md-5 text-right">

        <div class="collapse navbar-collapse"  id="idForReference" style="background-color: red;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a *ngIf="userInSession==null" routerLink="login" class="nav-link">Login</a></li>
                <li class="nav-item"><a  *ngIf="userInSession==null" routerLink="signup" class="nav-link">Signup</a></li>
                <li class=""><a *ngIf="userInSession!=null" routerLink="user/profile" class="nav-link">Profile</a></li>                  
                <li class=""><a *ngIf="userInSession!=null" routerLink="logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
